* {
    box-sizing: border-box;
  }

  body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }



  #header {
      color:#e23636
  }
  
  input[type='text'] {
    width: 300px;
  }
  

  .flex-column {
    max-width: 260px;
}

/* .img-fluid {
    margin: 5px;
} */

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

#comicCards {
  background: white;
  background-clip: content-box;
}


a:link, 
a:visited {
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}

a:hover,
a:active {
    color: white;
    background-color: #ED462F;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
    /* -webkit-transform: rotate(5deg) scale(1.3); */
}