@mixin imageStyler ($top, $left, $zindex){
    top: $top;
    left: $left;
    z-index: $zindex;
}

.container {
    width: 100%;
    height: 70vh;
    background-color: yellowgreen;

    img{
        position: relative;
        border: 3px solid black;
        &:nth-child(1){
            @include imageStyler (20%, 43%, 1);
            width: 200px;
            height: 200px;
        }
        &:nth-child(2){
            @include imageStyler (20%, 35%, 1);
            width: 200px;
            height: 200px;
        }
        &:nth-child(3){
            @include imageStyler (20%, 27%, 1);;
            width: 200px;
            height: 200px;
        }
    }
}