.container {
    display:grid;
    background-color: blueviolet;
    padding: 10px;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    
}

.item{
    background-color: azure;
}

.item:nth-child(1) {
    grid-column: 1/3;
}
.item:nth-child(3) {
    grid-row: 2/4;
}



