body {
    background-color: #F0EBF8;
    margin: 0;
    padding: 0;
}

.color{
    background-color: #673AB7;
    height:278px;
}

#main-div {
    height: 1500px;
    background-color: white;
    position: absolute;
    top: 30vh; 
}

/* #table1 {
    width: 640px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    position: absolute;
    box-shadow: 0.5px 1px 2px gray;
    
}*/

#up-color {
    background-color: #AE79FF;
    height: 10px;
} 


